{
  "env": {
    "node": true
  },
  "extends": ["important-stuff", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "no-console": "off"
      }
    }
  ],
  "parser": "@babel/eslint-parser"
}
